@model IEnumerable<QuickReceipt.Models.Profile>

@{
    ViewBag.Title = "Index";
}

<h2 align="center">Profiles</h2>

<p>
    <a href="/QuickReceipt/Profile/Create" data-role="button" data-icon="plus">Add</a>
</p>
<table align="center">
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Type
        </th>
        <th>
            Item
        </th>
        <th>
            Issue
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <div data-role="controlgroup" data-type="vertical">
                <a href="/QuickReceipt/Profile/Edit/@item.Id" data-role="button" data-icon="grid">Edit</a>
                <a href="/QuickReceipt/Profile/Delete/@item.Id" data-role="button" data-icon="delete">Delete</a>
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Issue.Description)
        </td>
    </tr>
}

</table>
