@model IEnumerable<QuickReceipt.Models.PurchaseOrder>

@{
    ViewBag.Title = "Quick Receipt | Purchase Orders";
}

<h2 align="center">Purchase Orders</h2>


<div>
<table align="center">
    <tr>
        <th>
            QR Code
        </th>
        <th>
            PO #
        </th>
        <th>
            PO Date
        </th>
        <th>
            Payment Terms
        </th>
        <th>
            Freight Terms
        </th>
        <th>
            Ship Via
        </th>
        <th>
            Tracking Number
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <div data-role="controlgroup" data-type="horizontal">
                <a href="/QuickReceipt/PurchaseOrder/Details/@item.POId">
                <img src="http://qr.tbs.io/?u=@item.QRCodeShortURL" alt="" width="100" height="100">
                </a>
            </div>
        </td>
        <td>
            @if(item.PurchaseOrderNumber.HasValue)
            {
                <div data-role="controlgroup" data-type="horizontal">
                    <a href="/QuickReceipt/PurchaseOrder/Details/@item.POId" data-role="button">@item.PurchaseOrderNumberDisplay</a>
                </div>
            }
        </td>
        <td>
        @if (item.PODate != DateTime.MinValue)
        {
            @Html.DisplayFor(modelItem => item.PODate)
        }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentTerms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FreightTerms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipVia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrackingNumber)
        </td>
    </tr>
}

</table>
</div>